/* header */
header{
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
}
header .header1{
    height: 28px;
    width: 1200px;
    margin: 0 auto;
}
header .header1 ul{
    height: 28px;
    float: left;
}
header .header1 ul  li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
header .header1 ul  li a{
    color: #666;
    font-size: 12px;
}
header .header1 ul  li a:hover{
    color: #2a90cd;
}
header .header1 ul  li b{
    font-size: 12px;
    color: #000;
}
header .header1 ul:nth-of-type(1){
    margin-right: 360px;
}
header .header1 ul:nth-of-type(1) li:nth-of-type(1){
    background: url(../img/epetbrand.png)no-repeat 7px 7px;
}
header  ul:nth-of-type(1) li:nth-of-type(1) a{
    padding-left:23px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) a{
    padding-left: 15px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) i{
    display: inline-block;
    margin-left: 6px;
    width: 16px;
    height: 8px;
    background: url(../img/xqico.png)no-repeat;
    background-position: 0 -31px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) a:hover i{
    background: url(../img/xqico.png)no-repeat;
    background-position: 0 -18px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) a:hover{
    color: #666;
}

/* 重庆部分二级菜单 */
header .header1 ul:nth-of-type(1) li:nth-of-type(2){
    position: relative;
}
.region{
    width: 410px;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    left: 0;
    top: 29px;
    z-index: 10;
    /* height: 295px; */
    box-shadow: 0 0 1px;
    display: none;
}
.region dl{
    height: 20px;
    font-size: 12px;
    margin-top: 12px;
}
.region dl dd{
    display: block;
float: left;
height: 20px;
line-height:20px;
}
header div ul:nth-of-type(1) li:nth-of-type(2) .region dl dd a{
    display: block;
    padding: 0 10px;
    height: 20px;
    text-align: center;
    /* padding-left: 0; */
}
header div ul:nth-of-type(1) li:nth-of-type(2) .region dl dd a:hover{
    background: #fb6003;
    color: #fff;
}
.region dl dd a{
    color: #666;
}
.region dl dt{
    display: block;
    float: left;
    height: 16px;
    line-height:16px;
    color:#999;
    border-right: 1px dashed #ddd;
    padding-right: 12px;
    margin-right: 5px;
}
.region-title1{
    height: 30px;
    width: 400px;
    margin: 5px 5px 0;
}
.region .region-title1 span{
    display: block;
    float: left;
    width: 70px;
    height: 29px;
    line-height: 29px;
    color: #888;
    font-size: 12px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-right: 5px;
    text-align: center;
    background: #f5f5f5;
    z-index: 10;
}
.region-a{
    border-top: 1px solid #ddd;
    margin:0 5px;
    width: 400px;
    height: 258px;
}
.region-wrap{      
    position: relative;
    width: 400px;
}
.region-1{
    /* width: 100%; */
    width:400px;
    /* height: 258px; */
    position: absolute;
    left: 0;
    top: 0;
    /* display: none; */
}
.region-2{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    /* height: 190px; */
}
.region-2 .area{
    width: 380px;
    /* height: 190px; */
}
.region-2 .area li{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}
header .header1 .region-2 .area li a{
    padding: 0 10px;
}
header .header1 .region .region-2 .area li{
    background: none;
}
header .header1 .region .region-2 .area li a:hover{
    background: #fb6003;
    color: #fff;
}
.region .region-title1 span.span-bac{
    background: #fff;
}
/*  */

header .header1 ul:nth-of-type(1) li:nth-of-type(3){
    /* width: 85px; */
    background: url(../img/bg.png)no-repeat;
    background-position: -9px -425px;
}
header .header1 ul:nth-of-type(1) li:nth-of-type(3) a{
    padding-left:18px;
}
header .header1 ul:nth-of-type(1) li:nth-of-type(3) a:hover{
    color:#ff6600 
}
header  ul:nth-of-type(2)  li:last-of-type a{
    color: #ff6600;
}
header .header1 ul  li:last-of-type a:hover{
    color: #2a90cd;
}
header  ul  li span:nth-of-type(1){
    color: #ff6600;
    font-size: 12px;
}
header  ul  li span:nth-of-type(2){
    color: #fe002d;
    font-size: 12px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(3) b{
    display: inline-block;
    width: 13px;
    height: 18px;
    background: url(../img/bg.png)no-repeat;
    background-position: -290px -40px
}
header  ul:nth-of-type(2) li:nth-of-type(3) a{
    margin-left: 6px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4){
    position: relative;
    width: 74px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) i{
    display: inline-block;
    width: 13px;
    height: 18px;
    background: url(../img/bg.png)no-repeat;
    background-position: -315px -40px;
    margin-right: 6px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) b{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 65px;
    width: 0px;
    height: 0px;
    border-top: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) a:hover em{
    position: absolute;
    top: 12px;
    left: 65px;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent; 
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) a:hover b{
    display: none;
}
/* 我的e宠部分二级菜单 */
header .header1 ul:nth-of-type(2) li:nth-of-type(4){
    position: relative;
}
.ec{
    position: absolute;
    left: 0;
    top: 30px;
    width:94px;
    background: #fff;
    box-shadow: 0 0 2px #ddd;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: none;
}
header .header1 .ec li strong{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #666;
    margin-right: 5px;
    vertical-align: middle;
}
header .header1 .ec li{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 7px;
}
header .header1 .ec li a{
    color: #666;
    margin-left: 0;
}
header .header1 .ec li:nth-child(3) a{
    margin-left: 0;
}
header .header1 .ec li:nth-child(5) a{
    color: #666;
}
header .header1 .ec li a:hover{
    color: #216ef7;
}
/*  */
header  ul:nth-of-type(2) li:nth-of-type(5){
    position: relative;
    width: 64px;
}
header  ul:nth-of-type(2) li:nth-of-type(5) i{
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(../img/bg.png)no-repeat;
    background-position: -354px -40px;
    margin-right: 6px;
}
header  ul:nth-of-type(2) li:nth-of-type(5) b{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 50px;
    width: 0px;
    height: 0px;
    border-top: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent;
}
header  ul:nth-of-type(2) li:nth-of-type(5) a:hover em{
    position: absolute;
    top: 12px;
    left: 50px;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent; 
}
header .header1 ul:nth-of-type(2) li:nth-of-type(5) a:hover b{
    display: none;
}
/* 收藏 */
.header1 ul:nth-of-type(2) li:nth-of-type(5){
    position: relative;
}
.mycollect{
    width:84px;
    padding: 5px 10px; 
    background: #fff;
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: 0 0 5px #ddd;
    display: none;
}
.mycollect a:hover{
color: #216ef7;
}
.mycollect strong{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #666;
    margin-right: 5px;
    vertical-align: middle;
}
/* 手机版 */
.header1 ul:nth-of-type(2) li:nth-of-type(6){
    position: relative;
}
.phone{
    position: absolute;
    display: none;
    border: 1px solid #ddd;
    left: 0;
    top: 29px;
}


/* -------------------top----------------------- */
/* .top{
    width: 100%;
    height: 82px;
}
.top img{
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
} */
/* search */
.search{
    width: 100%;
}
.search1{  
    width: 1200px;
    margin: 0 auto;
}
.logo{
    margin: 7px 0;
    float: left;
    width: 300px;
    height: 110px;
}
.logo img{
    display: block;
    width: 230px;
    height: 110px;
}
.search-a{
    padding-top: 36px;
    width: 480px;
    float: left;

}
.search-a form{
    border: 2px solid #459d36;
    width: 476px;
    height: 30px;
    line-height: 30px;
    outline: none;
    position: relative;

}
.search-a form input{
    border: none;
    outline: none;
    float: left;
    height: 28px;
    line-height: 28px;
}

#res{
	width: 476px;
	height: 395px;
	border: 1px solid #ddd;
	background: #fff;
	position: absolute;
	left:0;
	top: 28px;
	z-index: 10;
	display: none;
}
 #res a{
 	color: rgb(179,179,179);
 	font-size: 16px;
 	line-height: 20px;
 }

.search-a form input:nth-child(1){
    width: 387px;
    padding-left: 15px;
    font-size: 12px;
    color: #999999;
}
.search-a form input:nth-child(2){
    width: 74px;
    height: 30px;
    background: #459d36;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.search-a ul{
    padding-top: 15px;
    width: 100%;
}
.search-a ul li{
    float: left;
    height: 13px;
    line-height: 13px;
    padding-right: 12px;
    border-right: 1px solid #999;
    font-size: 12px;
    color: #999;
    margin-left: 12px;
}
.search-a ul li:nth-of-type(5){
    border-right: none;
}
.search-a ul li:nth-of-type(1){
    margin-left: 0;
}
.search-a ul li span{
    color: #ff0000;
}
.search-a ul li a{
    color: #999;
}
.search-a ul li a:hover{
    color: #000;
}
.shopping{
    float: right;
    width: 128px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #f5f5f5;
    border-radius: 9px;
    margin-top: 36px;
    background: url(../img/shopping-cart.gif)no-repeat left center;
}
.shopping a{
    padding-left: 50px;
    color: #666666;
    font-size: 12px;
}
.shopping a span{
    color: #ff4400;
}
.shopping a:hover{
    color: #2a90cd;
}
/* nav */
.nav{
    width: 100%;
    height: 34px;
}
.nav1{
    width: 1200px;
    height: 34px;
    margin: 0 auto;
}
.nav1 .nava{
    float: left;
    width: 228px;
    height: 32px;
    border: 1px solid #e1e1e1
}
.nav1 .nava .nava-left{
    float: left;
    width: 50%;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.nav1 .nava  a{
    display: inline-block;
    width: 100%;
    height: 32px;
    font-size: 16px;
    /* color: #fff; */
    color: #000;
    background: #fff;
    text-align: center;
    

}
.nav1 .nava  a:hover{
    color: #fff;
    background:#459d36;
}
.nav1 .nava .nava-left a i{
    display: inline-block;
    width: 16px;
    height: 13px;
    vertical-align: middle;
    margin-left: 5px;
    background: url(../img/bg2.png)no-repeat center;
    background-position: -17px -1257px;
    transform: rotate(0);
    transition:0.2s;
}
.nav1 .nava .nava-left a:hover i{
    background: url(../img/bg2.png)no-repeat center;
    background-position: 0 -1257px;
    transform: rotate(180deg);

}
.nav1 .nava .nava-right{
    float: left;
    width: 50%;
    height: 32px;
    line-height: 32px;
}
.nav1 .nava .nava-right a i{
    display: inline-block;
    width: 16px;
    height: 13px;
    vertical-align: middle;
    margin-left: 5px;
    background: url(../img/bg2.png)no-repeat center;
    background-position: -17px -1272px;
    transform: rotate(0);
    transition:0.2s;
}
.nav1 .nava .nava-right a:hover i{
    background: url(../img/bg2.png)no-repeat center;
    background-position: 0 -1272px;
    transform: rotate(180deg);

}

.navb{
    float: left;
    height: 34px;
}
.navb li{
    float: left;
    height: 34px;
    line-height: 34px;
    margin-left: 20px;
}
.navb li:nth-child(1){
    margin-left: 25px;
}
.navb li a{
    font-weight: bold;
    color: #000;
    
}
.navb li a b{
    display: inline-block;
    width: 13px;
    height: 17px;;
    background: url(../img/bg2.png)no-repeat center;
    background-position: -35px -1280px;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
    transform: rotate(0);
    transition:0.2s;
}
.navb li a:hover{
    color: #459d36;

}
.navb li a:hover b{
    transform: rotate(180deg)

}
/*  */
/* footer */
footer{
    width: 100%;
    background: #f5f5f5;
}
.footer1{
    padding: 0 75px;
    border-bottom: 1px solid #ddd;
}
footer .footer-title{
    width: 1200px;
    padding:19px 0 ;
    height: 62px;
}
footer .footer-title li{
    float: left;
    width: 200px;
    line-height: 62px;
    height: 62px;;
}
footer .footer-title li a{
    display: block;
    width: 128px;
    height: 62px;
    line-height: 62px;
    font-size: 17px;
    font-weight: bold;
    color: #444;
    padding-left: 70px;
    background: url(../img/logo.png)no-repeat center;
}
footer .footer-title li a:hover{
    color: #dd2727;
    transform: translateY(-5px);
    transition: 0.8s;
}
footer .footer-title li:nth-of-type(1) a{
    background-position: 0 0;
}
footer .footer-title li:nth-of-type(2) a{
    background-position: 0 -82px;
}
footer .footer-title li:nth-of-type(3) a{
    background-position: 0 -162px;
}
footer .footer-title li:nth-of-type(4) a{
        background-position: 0 -242px;
}
footer .footer-title li:nth-of-type(5) a{
    background-position: 0 -322px;
}
footer .footer-title li:nth-of-type(6) a{
    background-position: 0 -402px;
}
.links{
    bottom: 1px solid #ddd;
    padding-top:25px; 
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    width: 1200px;
    margin: 0 auto; 
}
.dog-phone{
    float: left;
    display: block;
    width: 105px;
    height: 99px;
}
.service{
    margin-left: 30px;
    float: left;
}
.service .p1{
    font-size:12px;
    font-weight: bold;
    color: #666; 
}
.service .p2{
    font-size: 17px;
    margin-top: 20px;
    color: #666;
}
.service .p2 i{
    font-size: 12px;
}
.service p:nth-child(3){
    font-size: 17px;
    color: #666;
    margin-top: 21px;
}
.service p:nth-child(4){
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}
 .first{
    width: 56px;
    float: left;
    margin-left: 40px
}
.footer-links{
    width: 56px;
    float: left;
    margin-right: 85px;
    font-size: 12px;
}
.footer-links li.links-top{
    width: 56px;
    height: 19px;
    font-size:12px;
    font-weight: bold;
    color: #666; 
    margin-bottom: 20px;
}
.footer-links li a{
    color: #444;
    line-height: 24px;
    height: 24px;
    display: block;
}
.footer-links li a:hover{
    color: #dd2727;
    text-decoration: underline;
}
.app-down{
    width: 92px;
    float: left;
    margin-right: 36px;
}
.app-down p{
    width: 92px;
    text-align: center;
    font-size: 12px;
    color: #444;
}
.app-down a{
    display: block; 
    margin-top: 10px;  
}
.app-down a img{
    display: block;
}
.guanzhu{
    width: 92px;
    float: left;
}
.guanzhu p{
    width: 92px;
    text-align: center;
    font-size: 12px;
    color: #444;
}
.guanzhu a{
    display: block; 
    margin-top: 10px;  
}
.guanzhu a img{
    display: block;
}
.end-links{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 12px;
    color: #999;
    height: 20px;
}
.end-links span{
    display: block;
    float: left;
    margin-right: 5px;
}
.end-links li{
    float: left;
}
.end-links li a{
    display: block;
    margin: 0 15px 10px 0;
    font-size: 12px;
    color: #999;
}
.end-links li a:hover{
    text-decoration: underline;
    color: #dd2727;
}
.end-links b{
    display: inline-block;
    width: 6px;
    height: 6px;
    float: right;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    transform: rotate(-135deg);
}
.b-height{
    height: 50px;
}
.b-jian{
    border-top: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    transform: rotate(-135deg);
}
.end-pics{
    width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 1;
}
.end-pics li{
    float: left;
    margin-right: 3px;
}
.end-pics li:nth-child(1){
    margin-left:30px;   
}
.ending1{
    padding: 20px 0 40px;
    width: 1200px;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0 auto;
}
.ending1 a{
    display: block;
    color: #222;
    float: left;
    margin-right: 8px;
}
.ending1 a:nth-child(1){
    margin-left: 175px;
}
.ending1 a:hover{
    color: #dd2727;
    text-decoration: underline;
}
.ending1 p{
    float: left;
    color: #222;
}
/*  */
/* header .header1 .sp .shopNum1{
    position: absolute;
} */