/* header */
header{
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
}
header .header1{
    height: 28px;
    width: 1200px;
    margin: 0 auto;
}
header .header1 ul{
    height: 28px;
    float: left;
}
header .header1 ul  li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
header .header1 ul  li a{
    color: #666;
    font-size: 12px;
}
header .header1 ul  li a:hover{
    color: #2a90cd;
}
header .header1 ul  li b{
    font-size: 12px;
    color: #000;
}
header .header1 ul:nth-of-type(1){
    margin-right: 383px;
}
header .header1 ul:nth-of-type(1) li:nth-of-type(1){
    background: url(../img/epetbrand.png)no-repeat 7px 7px;
}
header  ul:nth-of-type(1) li:nth-of-type(1) a{
    padding-left:23px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) a{
    padding-left: 15px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) i{
    display: inline-block;
    margin-left: 6px;
    width: 16px;
    height: 8px;
    background: url(../img/xqico.png)no-repeat;
    background-position: 0 -31px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) a:hover i{
    background: url(../img/xqico.png)no-repeat;
    background-position: 0 -18px;
}
header  ul:nth-of-type(1) li:nth-of-type(2) a:hover{
    color: #666;
}

/* 重庆部分二级菜单 */
header .header1 ul:nth-of-type(1) li:nth-of-type(2){
    position: relative;
}
.region{
    width: 410px;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    left: 0;
    top: 29px;
    z-index: 10;
    /* height: 295px; */
    box-shadow: 0 0 1px;
    display: none;
}
.region dl{
    height: 20px;
    font-size: 12px;
    margin-top: 12px;
}
.region dl dd{
    display: block;
float: left;
height: 20px;
line-height:20px;
}
header div ul:nth-of-type(1) li:nth-of-type(2) .region dl dd a{
    display: block;
    padding: 0 10px;
    height: 20px;
    text-align: center;
    /* padding-left: 0; */
}
header div ul:nth-of-type(1) li:nth-of-type(2) .region dl dd a:hover{
    background: #fb6003;
    color: #fff;
}
.region dl dd a{
    color: #666;
}
.region dl dt{
    display: block;
    float: left;
    height: 16px;
    line-height:16px;
    color:#999;
    border-right: 1px dashed #ddd;
    padding-right: 12px;
    margin-right: 5px;
}
.region-title1{
    height: 30px;
    width: 400px;
    margin: 5px 5px 0;
}
.region .region-title1 span{
    display: block;
    float: left;
    width: 70px;
    height: 29px;
    line-height: 29px;
    color: #888;
    font-size: 12px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-right: 5px;
    text-align: center;
    background: #f5f5f5;
    z-index: 10;
}
.region-a{
    border-top: 1px solid #ddd;
    margin:0 5px;
    width: 400px;
    height: 258px;
}
.region-wrap{      
    position: relative;
    width: 400px;
}
.region-1{
    /* width: 100%; */
    width:400px;
    /* height: 258px; */
    position: absolute;
    left: 0;
    top: 0;
    /* display: none; */
}
.region-2{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    /* height: 190px; */
}
.region-2 .area{
    width: 380px;
    /* height: 190px; */
}
.region-2 .area li{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}
header .header1 .region-2 .area li a{
    padding: 0 10px;
}
header div .region .region-2 .area li{
    background: none;
}
header div .region .region-2 .area li a:hover{
    background: #fb6003;
    color: #fff;
}
.region .region-title1 span.span-bac{
    background: #fff;
}
/*  */

header .header1 ul:nth-of-type(1) li:nth-of-type(3){
    /* width: 85px; */
    background: url(../img/bg.png)no-repeat;
    background-position: -9px -425px;
}
header .header1 ul:nth-of-type(1) li:nth-of-type(3) a{
    padding-left:18px;
}
header .header1 ul:nth-of-type(1) li:nth-of-type(3) a:hover{
    color:#ff6600 
}
header  ul:nth-of-type(2)  li:last-of-type a{
    color: #ff6600;
}
header .header1 ul  li:last-of-type a:hover{
    color: #2a90cd;
}
header  ul  li span:nth-of-type(1){
    color: #ff6600;
    font-size: 12px;
}
header  ul  li span:nth-of-type(2){
    color: #fe002d;
    font-size: 12px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(3) b{
    display: inline-block;
    width: 13px;
    height: 18px;
    background: url(../img/bg.png)no-repeat;
    background-position: -290px -40px
}
header  ul:nth-of-type(2) li:nth-of-type(3) a{
    margin-left: 6px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4){
    position: relative;
    width: 74px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) i{
    display: inline-block;
    width: 13px;
    height: 18px;
    background: url(../img/bg.png)no-repeat;
    background-position: -315px -40px;
    margin-right: 6px;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) b{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 65px;
    width: 0px;
    height: 0px;
    border-top: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent;
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) a:hover em{
    position: absolute;
    top: 12px;
    left: 65px;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent; 
}
header .header1 ul:nth-of-type(2) li:nth-of-type(4) a:hover b{
    display: none;
}
/* 我的e宠部分二级菜单 */
header .header1 ul:nth-of-type(2) li:nth-of-type(4){
    position: relative;
}
.ec{
    position: absolute;
    left: 0;
    top: 30px;
    width:94px;
    background: #fff;
    box-shadow: 0 0 2px #ddd;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: none;
}
header .header1 .ec li strong{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #666;
    margin-right: 5px;
    vertical-align: middle;
}
header .header1 .ec li{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 7px;
}
header .header1 .ec li a{
    color: #666;
    margin-left: 0;
}
header .header1 .ec li:nth-child(3) a{
    margin-left: 0;
}
header .header1 .ec li:nth-child(5) a{
    color: #666;
}
header .header1 .ec li a:hover{
    color: #216ef7;
}
/*  */
header  ul:nth-of-type(2) li:nth-of-type(5){
    position: relative;
    width: 64px;
}
header  ul:nth-of-type(2) li:nth-of-type(5) i{
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(../img/bg.png)no-repeat;
    background-position: -354px -40px;
    margin-right: 6px;
}
header  ul:nth-of-type(2) li:nth-of-type(5) b{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 50px;
    width: 0px;
    height: 0px;
    border-top: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent;
}
header  ul:nth-of-type(2) li:nth-of-type(5) a:hover em{
    position: absolute;
    top: 12px;
    left: 50px;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid  #717171;
    border-left: 5px solid transparent;
    border-right: 5px solid  transparent; 
}
header .header1 ul:nth-of-type(2) li:nth-of-type(5) a:hover b{
    display: none;
}
/* 收藏 */
.header1 ul:nth-of-type(2) li:nth-of-type(5){
    position: relative;
}
.mycollect{
    width:84px;
    padding: 5px 10px; 
    background: #fff;
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: 0 0 5px #ddd;
    display: none;
}
.mycollect a:hover{
color: #216ef7;
}
.mycollect strong{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #666;
    margin-right: 5px;
    vertical-align: middle;
}
/* 手机版 */
.header1 ul:nth-of-type(2) li:nth-of-type(6){
    position: relative;
}
.phone{
    position: absolute;
    display: none;
    border: 1px solid #ddd;
    left: 0;
    top: 29px;
}


/* -------------------top----------------------- */
.top{
    width: 100%;
    height: 82px;
}
.top img{
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
/* search */
.search{
    width: 100%;
}
.search1{  
    width: 1200px;
    margin: 0 auto;
}
.logo{
    margin: 7px 0;
    float: left;
    width: 300px;
    height: 110px;
}
.logo img{
    display: block;
    width: 230px;
    height: 110px;
}
.search-a{
    padding-top: 36px;
    width: 480px;
    float: left;

}
.search-a form{
    border: 2px solid #459d36;
    width: 476px;
    height: 30px;
    line-height: 30px;
    outline: none;
    position: relative;

}
.search-a form input{
    border: none;
    outline: none;
    float: left;
    height: 28px;
    line-height: 28px;
}

#res{
	width: 476px;
	height: 395px;
	border: 1px solid #ddd;
	background: #fff;
	position: absolute;
	left:0;
	top: 28px;
	z-index: 10;
	display: none;
}
 #res a{
 	color: rgb(179,179,179);
 	font-size: 16px;
 	line-height: 20px;
 }

.search-a form input:nth-child(1){
    width: 387px;
    padding-left: 15px;
    font-size: 12px;
    color: #999999;
}
.search-a form input:nth-child(2){
    width: 74px;
    height: 30px;
    background: #459d36;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.search-a ul{
    padding-top: 15px;
    width: 100%;
}
.search-a ul li{
    float: left;
    height: 13px;
    line-height: 13px;
    padding-right: 12px;
    border-right: 1px solid #999;
    font-size: 12px;
    color: #999;
    margin-left: 12px;
}
.search-a ul li:nth-of-type(5){
    border-right: none;
}
.search-a ul li:nth-of-type(1){
    margin-left: 0;
}
.search-a ul li span{
    color: #ff0000;
}
.search-a ul li a{
    color: #999;
}
.search-a ul li a:hover{
    color: #000;
}
.shopping{
    float: right;
    width: 128px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #f5f5f5;
    border-radius: 9px;
    margin-top: 36px;
    background: url(../img/shopping-cart.gif)no-repeat left center;
}
.shopping a{
    padding-left: 50px;
    color: #666666;
    font-size: 12px;
}
.shopping a span{
    color: #ff4400;
}
.shopping a:hover{
    color: #2a90cd;
}
/* nav */
.nav{
    width: 100%;
    height: 34px;
}
.nav1{
    width: 1200px;
    height: 34px;
    margin: 0 auto;
}
.nav1 .nava{
    float: left;
    width: 228px;
    height: 32px;
    border: 1px solid #e1e1e1
}
.nav1 .nava .nava-left{
    float: left;
    width: 50%;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.nav1 .nava  a{
    display: inline-block;
    width: 100%;
    height: 32px;
    font-size: 16px;
    /* color: #fff; */
    color: #000;
    background: #0f0;
    

}
.nav1 .nava  a:hover{
    color: #fff;
    background:#2a90cd
}
.nav1 .nava .nava-left a i{
    display: inline-block;
    width: 16px;
    height: 13px;
    vertical-align: middle;
    margin-left: 5px;
    background: url(../img/bg2.png)no-repeat center;
    background-position: -17px -1257px;
    transform: rotate(0);
    transition:0.2s;
}
.nav1 .nava .nava-left a:hover i{
    background: url(../img/bg2.png)no-repeat center;
    background-position: 0 -1257px;
    transform: rotate(180deg);

}
.nav1 .nava .nava-right{
    float: left;
    width: 50%;
    height: 32px;
    line-height: 32px;
}
.nav1 .nava .nava-right a i{
    display: inline-block;
    width: 16px;
    height: 13px;
    vertical-align: middle;
    margin-left: 5px;
    background: url(../img/bg2.png)no-repeat center;
    background-position: -17px -1272px;
    transform: rotate(0);
    transition:0.2s;
}
.nav1 .nava .nava-right a:hover i{
    background: url(../img/bg2.png)no-repeat center;
    background-position: 0 -1272px;
    transform: rotate(180deg);

}

.navb{
    float: left;
    height: 34px;
}
.navb li{
    float: left;
    height: 34px;
    line-height: 34px;
    margin-left: 20px;
}
.navb li:nth-child(1){
    margin-left: 25px;
}
.navb li a{
    font-weight: bold;
    color: #000;
    
}
.navb li a b{
    display: inline-block;
    width: 13px;
    height: 17px;;
    background: url(../img/bg2.png)no-repeat center;
    background-position: -35px -1280px;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
    transform: rotate(0);
    transition:0.2s;
}
.navb li a:hover{
    color: #459d36;

}
.navb li a:hover b{
    transform: rotate(180deg)

}
/* banner */
.banner{
    width: 100%;
    height: 360px;
    /* background:  */
}
.banner1{
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    position: relative;
}
.list1{
    float: left;
    width: 206px;
    padding:0 12px;
    height: 357px;
    position: relative;
    z-index: 1;

}
.list1 p{
    height: 50px;
    line-height: 50px;
    color: #99a6be;
    font-size: 14px;
    border-bottom: 1px dashed #666;
}
.list1 p a{
    color: #444;
    margin-right: 5px;
}
.list1 p span{
    display: inline-block;
    width: 68px;
    height: 50px;
    line-height: 50px;
}
.list1 p span:nth-child(1){
    
    margin-right: 42px;
}
.list1 p span:nth-child(2){   
    width: 90px;
    background: url(../img/a1.png)no-repeat 85px center;
}
.list1 div{
    margin-top: 15px;
    background:url(../img/active.png)no-repeat 10px center;
    font-size: 12px;
    color: #459d36;
    padding-left: 31px;
}
.list1 div b{
    display: inline-block;
    height: 19px;
    line-height: 19px;
    width: 35px;
    font-size: 12px;
    color: #fff;
    background: #ff4400;
    border-radius: 6px;
    text-align: center;
    margin-left: 11px;
}
#banner-pic{
    float: left;
    width: 770px;
    height: 360px;
    position: relative;
}
#left,#right{
    display: none;
}
.pics{
    width: 770px;
    height: 360px;
    position: relative;
}
.pics li{
    position: absolute;
    left: 0;
    top: 0;
    transition:.5s;
    opacity: 0;
}
 .pics li.active{
    opacity: 1;
}
.pics li img{
    width: 770px;
    height: 360px;
}
 .btn{
    position: absolute;
    z-index: 10;
    height: 20px;
    width: 150px;
    left: 308px;
    bottom: 15px;
}
 .btn li{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    background: #999;
    color: #fff;
}
 .btn li.active{
    background: #fff;
    color: #000;
}
.list2{
    float: left;
    width: 200px;
    height: 357px;
}
.list2 a{
    display: block;
    width: 200px;
    height: 120px;
    /* position: relative; */
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
}
.list2 a img{
    display: block;
    /* position: absolute;
    left: 0;
    top: 0; */
}
.list2 a:hover img{
    /* position: absolute; */
    transition: 0.5s;
    transform: translateX(-5px);
    z-index: -1;
}
/* miaosha  */
.day-surprise{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 52px;
}
.miaosha{
    float: left;
    width: 330px;
    height: 460px;
    background: url(../img/everydayBgNew2.png)no-repeat center;
    position: relative;
}
.clock{
    position: absolute;
    left: 105px;
    top: 195px;
    width: 106px;
    height: 28px;
    
}
.clock i{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-left: 2px;
}
.jxz{
    position: absolute;
    right: -55px;
    top: -15px;
}
.down{
    height: 33px;
    width: 281px;
    position: absolute;
    left: -79px;
    bottom: -210px;
}
.down p{
    position: absolute;
    left: 17px;
    top: -32px;
    width: 154px;
    height: 39px;
    background: url(../img/downappbg.png)no-repeat center;
    line-height: 39px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    z-index: 1;
}
.down1{
    width: 281px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 17px;
    background: #ff7188;
    overflow: hidden;
    position: relative;
}
#down1-cons{
    position: absolute;
    height: 640px;
    width: 100%;
    left: 0;
    top: 0;
}
#down1-cons li{
    height: 32px;
    width: 281px;
    /* padding-left: 30px; */
   
}
#down1-cons li b{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 6px;
    margin-left: 3px;
    overflow: hidden;
    /* background: url(../img/f365c5103a13c1c334a8e4eba3ea0e1f.jpg)no-repeat center; */

}
#down1-cons li b img{
    width: 100%;
    height: 100%;
}
#down1-cons li i{
    display: block;
    float: left;
    height: 32px;
    width: 230px;
    /* padding-left: 30px; */
    font-size: 12px;
    line-height: 32px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.goods{
    float: left;
    width: 868px;
    border: 1px solid #e7e7e7;
}
.goods .goods-top{
    width: 100%;
    height: 65px;
    line-height: 65px;
}
.top1{
    padding: 0 20px 0 35px;
    width: 815px;
    height: 65px;
    line-height: 65px;
    font-size: 10px;
    text-align: center;
    border-bottom: 1px dashed #999;

}
.top-cons{
    width: 100%;
    height: 100%;
    position: relative;
   
    /* overflow: hidden; */
}
.top-cons .swiper-slide{
    float: left;
    width: 60px;
    height: 65px;
    /* margin: 0 30px; */
}
.top-cons div p{
    margin: 0 30px;
    width:50px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
}
.top-cons div p:nth-of-type(1){
    margin-top: 20px;
    color: #999;
}
.top-cons div p:nth-of-type(2){
    margin-top: 2px;
    color: #999;
}
.top-cons div:hover p{
    font-size: 12px;
    font-weight: bold;
}
.top-cons div:hover p:nth-of-type(2){
    border-bottom:  2px solid #ed4044;
    padding-bottom: 17px;
}
.top-cons .active1:hover p{
    color: #ed4044;
}

.goods-bottom{
    height: 392px;
    width: 844px;
    position: relative;
    padding: 0 11px;
}
.goods-bottom-1{
    width: 844px;
    height: 392px;
    position: relative;
    overflow: hidden;
}
.goods-bottom-cons{
    width: 6752px;
    height: 392px;
    position: absolute;
    left:0;
    top: 0;
}
.goods-bottom-cons li{
    float: left;
    height: 354px;
    width: 211px;
    /* padding: 18px 20px 20px; */
    position: relative;
}
.goods-bottom-cons li .pica{
     margin: 18px 20px 20px; 
    display: block;
    /* margin-top: 35px; */
    height: 156px;
    position: relative;
    /* left: 5px; */
top: 35px;
    
}
#left2{
    position: absolute;
    left: 0;
    top: 35%;
    width: 30px;
    height: 60px;
    background: #ddd;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
#right2{
    position: absolute;
    right: 0;
    top: 35%;
    width: 30px;
    height: 60px;
    background: #ddd;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
.goods-bottom-cons li p{
    margin: 18px 20px 20px; 
}
.goods-bottom-cons li p:nth-of-type(1){
    height: 30px;
    width: 165px;
   margin-top: 40px;
    font-size: 12px;
}
.goods-bottom-cons li p:nth-of-type(1) a{
    color: #444;
}
.stop{
    z-index: 10;
    position: absolute;
    top: 95px;
    left: 20px;
    display: block;
}
.goods-bottom-cons li:hover .stop{
display: none;
transition: 1s;
}
.goods-bottom-cons li:hover .pica{
position: relative;
top: 33px;
transition: 0.5s;
z-index: 3;
}
.goods-bottom-cons li:hover p:nth-of-type(1) a{
    color: #216ef7;
}
.goods-bottom-cons li p:nth-of-type(2){
    margin-top: 15px;
    margin-bottom: 40px;
}
.goods-bottom-cons li p:nth-of-type(2) span{
    display: inline-block;
    font-size: 8px;
    color: #e52645;
}
.goods-bottom-cons li p:nth-of-type(2) b{
    display: inline-block;
    font-size: 8px;
    color: #ddd;
    margin-left: 3px;
    text-decoration: line-through;

}
.goods-bottom-cons li p:nth-of-type(2) span i{
    display: inline-block;
    font-size: 8px;
    color: #e52645;
    font-size: 16px;
}
.goods-bottom-cons li p:nth-of-type(2) em{
    display: inline-block;
    font-size: 8px;
    color: #ddd;
    margin-left: 43px;
}
.goods-bottom-cons li p:nth-of-type(3).ending{
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 13px;
    /* background: #4ace83; */
    background: #ddd;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.cut{
    position: absolute;
    left: 8px;
    top: 5px;
}
.spends{
    background: url(../img/fqls.png)no-repeat center;
    position: absolute;
    left: 8px;
    top: 5px;
    width: 56px;
    height: 45px;
    line-height: 55px;
    color: #fff;
    font-size: 14px;
    padding-top:10px;
    text-align: center;
}
/* section1 */
.section1{
    width: 1200px;
    /* height: ; */
    margin: 0 auto 30px;
}
.section1-top{
    /* height: 512px; */
    width: 1200px;
}
/*  */
.section1-top h2{
    padding-left: 2px;
    /* width: 118px; */
    height: 30px;
    font-size: 20px;
    color: #222;
}
.section1-top h2 b{
    display: block;
    float: left;
    height: 30px;
    font-size: 20px;
    color: #222;
    line-height: 30px;
    margin-left: 10px;
}
.section1-top h2 i{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url(../img/cate_5.png)no-repeat center;
    overflow: hidden;
}
/*  */
.section1-top .food{
    width: 328px;
    float: left;
}
.food-pic{
width: 328px;
height: 477px;
position: relative;
}
.food-pic a{
    display: block;
    width: 100%;
    height: 100%;
}
.food-pic a img{
    display: block;
    width: 100%;
    height: 100%;
}
.food-up{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    /* background: #fcefd6; */
    background:rgba(255,255,255,0.8);
    width: 298px;
    height: 177px;
    padding: 0 15px;
}
.food-up h3{
    padding: 15px 0;
    height: 26px;
    line-height: 56px;
    font-size:14px;
    color: #666; 
}
.food-up h3 i{
    display: block;
    height: 1px;
    width: 87px;
    float: left;
    border-bottom: 1px solid #666;
    margin-top: 15px;
}
.food-up h3 span{
    display: block;
    height: 26px;
    width: 26px;
    /* border-radius: 50%; */
    margin:0 4px 0 10px; 
    /* border: 1px solid #666; */
    float: left;
    background: url(../img/index-ico.png)no-repeat;
    background-position: -113px -170px;
}
.food-up h3 b{
    display: block;
    height: 25px;
    line-height: 25px;
    /* width: 25px; */
    margin-right:15px; 

    float: left;
}
.up-cons{
    width: 100%;
}
.up-cons li{
    float: left;
    height: 25px;
    width: 87px;
    border-radius: 12px;
    background: #fff;
    margin-top: 8px;
    margin-right: 17px;
    line-height: 25px;
    text-align: center;
}
.up-cons li a{
    font-size: 12px;
    color: #444;
}
.up-cons li a:hover{
    color: #216ef7;
}
.up-cons li:nth-child(3n){
    margin-right: 0;
}
/* food-cons  */
.food-cons{
    float: left;
    width: 872px;
    position: relative;
    margin-top: 30px;
}
.title1{
    position: relative;
    width:311px;
    padding-left:562px;
    top: -34px;
    right: 0;
    border-bottom: 1px solid #459d36;   
}
.title-food{  
    height: 33px;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;

    /* margin-left:;  */
}
.title-food li{
    float: left;
    padding: 6px 0;
    font-size: 13px;
    border-top: 1px solid #e7e7e7;
    /* height: 33px; */



}
.title-food li a{
    color: #444444;
    display: block;
    /* width: 100%;  */
    text-align:center;
    height: 19px;
    line-height: 19px;
    padding: 0 15px;
    border-right: 1px solid #e7e7e7;


}
.title-food li:nth-of-type(4) a{
    border-right: none;
}
.title-food li.active2{
    border:1px solid #459d36;
    border-top:2px solid #459d36;
    border-bottom:1px solid #fff;
}
.title-food li.active2 a{
    color: #459d36
}
/* .title-food li:hover{
    border:1px solid #459d36;
    border-top:2px solid #459d36;
    border-bottom:1px solid #fff;

} */

#wrap{
    /* border-top: 1px solid #459d36; */
    width: 873px;
    height: 50px;
    position: relative;
}
/* --------------------热门--------------------------- */
/* title-food-cons */
.title-food-cons{
    /* display: none; */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
/* .active4{
    display: block;
} */
/* .hide {
    display: none;
} */
/* cons-top-left */
.cons-top-left{
    float: left;
    width: 389px;
    height: 300px;
}
.cons-top-left .a1{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-right:  1px solid #e7e7e7;
    border-bottom:  1px solid #e7e7e7;
    overflow: hidden;
}
.cons-top-left .a1 img{
    display: block;
    width: 100%;
    height: 100%;
    /* position: absolute;
    left: 0;
    top: 0; */
}
.cons-top-left .a1:hover img{
    /* position: absolute;
    left: -3px;
    top: 0; */
    transform: translateX(-3px);
    transition: 0.5s;
}
 .tips{
    position: absolute;
    width: 170px;
    height: 45px;
    font-size: 14px;
    left: 27px;
    top: 30px;
    z-index: 1;
    color: #000;
}
 .tips p:nth-child(2){
    margin-top: 5px;
    color: #ff4400;
}
/*  */
.cons-top-right{
    float: left;
    width: 482px;
    height: 150px; 
}
.cons-top-right .a2{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-right:  1px solid #e7e7e7;
    border-left:  1px solid #e7e7e7;
    border-bottom:  1px solid #e7e7e7;
    overflow: hidden;
}
.cons-top-right .a2 img{
    display: block;
    width: 479px;
    height: 149px;
    /* position: absolute;
    left: 0;
    top: 0; */
}
.cons-top-right .a2:hover img{
    /* position: absolute;
    left: -3px;
    top: 0; */
    transform: translateX(-3px);
    transition: 0.5s;
}
/*  */
 .a3{
     float: left;
    display: block;
    width: 289px;
    height: 176px;
    position: relative;
    border-right:  1px solid #e7e7e7;   
    border-bottom:  1px solid #e7e7e7;
    overflow: hidden;
}
.a-first{
    border-left:  1px solid #e7e7e7;
    width:290px
}
 .a3 img{
    display: block;
    width: 289px;
    height: 176px;
    /* position: absolute;
    left: 0;
    top: 0; */
}
 .a3:hover img{
    /* position: absolute;
    left: -3px;
    top: 0; */
    transform: translateX(-3px);    
    transition: 0.5s;
}
/*  ----------------------------------   进口狗粮------------------------ */
.wrap-cons{
    /* border-top: 1px solid #459d36; */
    width: 873px;
    position: absolute;
    left: 0;
    top: 0;
    /* display: block; */
    display: none;
}
.wrap-cons li{
    float: left;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    width: 197px;
    height: 217px;
    padding: 10px;
}
.wrap-cons li .a4{
    display: block;
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.wrap-cons li img{
    display: block;
    width: 136px;
    height: 136px;
    margin:5px 0 15px 25px;
    /* margin-bottom: 15px; */
    position: relative;
    left: 0;
    top: 0;
}
.wrap-cons li .a4:hover img{
    top:4px;
    transition: 0.5s;
}
.wrap-cons li h3{
    height: 32px;
    font-size: 12px;
    color: #616362;
}
.wrap-cons li h3:hover{
    color: #216ef7;
}
.wrap-cons li h4{
   margin-top: 5px;
    font-size: 16px;
    color: #dd2727;
}



.section1-bottom{
    width: 1198px;
    height: 65px;
    border: 1px solid #ddd;
}
.section1-bottom li{
    float: left;
    height: 63px;
    width: 148px;
    border-right: 1px solid #ddd;
}
.section1-bottom li:last-of-type{
    border-right: none;
}
.section1-bottom li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.section1-bottom li a img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 100px;
    height: 48px;
}
.section1-bottom li:hover img{
    opacity: 0.8;
}

#gone{
    background:url(../img/cate_6.png)no-repeat center;
}
#hos{
    background:url(../img/cate_49.png)no-repeat center;
}
#home{
    background:url(../img/cate_54.png)no-repeat center;
}
/* footer */
footer{
    width: 100%;
    background: #f5f5f5;
}
.footer1{
    padding: 0 75px;
    border-bottom: 1px solid #ddd;
}
footer .footer-title{
    width: 1200px;
    padding:19px 0 ;
    height: 62px;
}
footer .footer-title li{
    float: left;
    width: 200px;
    line-height: 62px;
    height: 62px;;
}
footer .footer-title li a{
    display: block;
    width: 128px;
    height: 62px;
    line-height: 62px;
    font-size: 17px;
    font-weight: bold;
    color: #444;
    padding-left: 70px;
    background: url(../img/logo.png)no-repeat center;
}
footer .footer-title li a:hover{
    color: #dd2727;
    transform: translateY(-5px);
    transition: 0.8s;
}
footer .footer-title li:nth-of-type(1) a{
    background-position: 0 0;
}
footer .footer-title li:nth-of-type(2) a{
    background-position: 0 -82px;
}
footer .footer-title li:nth-of-type(3) a{
    background-position: 0 -162px;
}
footer .footer-title li:nth-of-type(4) a{
        background-position: 0 -242px;
}
footer .footer-title li:nth-of-type(5) a{
    background-position: 0 -322px;
}
footer .footer-title li:nth-of-type(6) a{
    background-position: 0 -402px;
}
.links{
    bottom: 1px solid #ddd;
    padding-top:25px; 
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    width: 1200px;
    margin: 0 auto; 
}
.dog-phone{
    float: left;
    display: block;
    width: 105px;
    height: 99px;
}
.service{
    margin-left: 30px;
    float: left;
}
.service .p1{
    font-size:12px;
    font-weight: bold;
    color: #666; 
}
.service .p2{
    font-size: 17px;
    margin-top: 20px;
    color: #666;
}
.service .p2 i{
    font-size: 12px;
}
.service p:nth-child(3){
    font-size: 17px;
    color: #666;
    margin-top: 21px;
}
.service p:nth-child(4){
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}
 .first{
    width: 56px;
    float: left;
    margin-left: 40px
}
.footer-links{
    width: 56px;
    float: left;
    margin-right: 85px;
    font-size: 12px;
}
.footer-links li.links-top{
    width: 56px;
    height: 19px;
    font-size:12px;
    font-weight: bold;
    color: #666; 
    margin-bottom: 20px;
}
.footer-links li a{
    color: #444;
    line-height: 24px;
    height: 24px;
    display: block;
}
.footer-links li a:hover{
    color: #dd2727;
    text-decoration: underline;
}
.app-down{
    width: 92px;
    float: left;
    margin-right: 36px;
}
.app-down p{
    width: 92px;
    text-align: center;
    font-size: 12px;
    color: #444;
}
.app-down a{
    display: block; 
    margin-top: 10px;  
}
.app-down a img{
    display: block;
}
.guanzhu{
    width: 92px;
    float: left;
}
.guanzhu p{
    width: 92px;
    text-align: center;
    font-size: 12px;
    color: #444;
}
.guanzhu a{
    display: block; 
    margin-top: 10px;  
}
.guanzhu a img{
    display: block;
}
.end-links{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 12px;
    color: #999;
    height: 20px;
}
.end-links span{
    display: block;
    float: left;
    margin-right: 5px;
}
.end-links li{
    float: left;
}
.end-links li a{
    display: block;
    margin: 0 15px 10px 0;
    font-size: 12px;
    color: #999;
}
.end-links li a:hover{
    text-decoration: underline;
    color: #dd2727;
}
.end-links b{
    display: inline-block;
    width: 6px;
    height: 6px;
    float: right;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    transform: rotate(-135deg);
}
.b-height{
    height: 50px;
}
.b-jian{
    border-top: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    transform: rotate(-135deg);
}
.end-pics{
    width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 1;
}
.end-pics li{
    float: left;
    margin-right: 3px;
}
.end-pics li:nth-child(1){
    margin-left:30px;   
}
.ending{
    padding: 20px 0 40px;
    width: 1200px;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0 auto;
}
.ending a{
    display: block;
    color: #222;
    float: left;
    margin-right: 8px;
}
.ending a:nth-child(1){
    margin-left: 175px;
}
.ending a:hover{
    color: #dd2727;
    text-decoration: underline;
}
.ending p{
    float: left;
    color: #222;
}