*{
    margin: 0;
    padding:0;
}
ul{
    list-style: none;
}
#right-nav{
    width:35px;
    /* height: 597px; */
    height: 100%;
    background: #444;
    position: fixed;
    top:0;
    right:0;
    z-index: 20;
    /* padding-top: 30px; */
    /* border-right: 5px solid  #7A6E6E; */
}
#right-nav .w{
    position: fixed;
    top:60px;
    right:0;
    width:35px;
    height: 84.3%;
}
#right-nav-list1{
    position: relative;
    right: 0;
    top: 0;
    z-index: 20;
}
#right-nav-list2{
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 20;
}
#right-nav li a{
    width: 100%;
    height: 100%;
    display: block;
    /* background: #7a6e6e; */
    box-sizing: border-box;
}
#right-nav-list1 li div{
    z-index: -1;
    font-size: 12px;
    background:#fff;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    transition: all linear 300ms;
    display: none;
}
#right-nav #right-nav-list1 li:nth-of-type(1){
     position: relative;
    /*left: 0;
    top: 0; */
    height: 35px;
    width: 35px;
    margin-bottom: 20px;
    
}
#right-nav-list1 li:nth-of-type(1) a{
    background: url(../img/bar_new.png)no-repeat center;
    background-position: 0 -235px;
}
#right-nav li:nth-of-type(1) div{
    position: absolute;
    left: -330px;
    top: 0;
    min-height: 130px;
    line-height: 130px;
    text-align: center;
    width: 326px;
    color: #444444;
    display: none;
}
#right-nav  div .login1{
    display: inline;
    color: #e84f47;
    text-decoration: underline;
}
#right-nav li:hover .login1{
    background: none;
}
#right-nav #right-nav-list1 li:nth-of-type(2){
    position: relative;
    height: 98px;
    width: 35px;
    margin-bottom: 30px;
    
}
#right-nav-list1 li:nth-of-type(2) a u{
    display: block;
    padding: 0 8px;
    color:#a6a6a6;
    font-size: 12px;

}
#right-nav-list1 li:nth-of-type(2) a i{
    display: block;
    height: 30px;
    width: 30px;
    background: url(../img/bar_new.png)no-repeat center;
    background-position: 0 -270px;
}
#right-nav-list1 li:nth-of-type(2) a b{
    margin-left: 6px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#a6a6a6;
    font-size: 12px;
    line-height: 20px;
    text-align: center; 
}

#right-nav li:nth-of-type(2) div{
    position: absolute;
    left: -512px;
    top: 0;
    min-height: 84px;
    width: 510px;
    color: #444;
    text-align: center;
    line-height: 84px;
    display: none;

}
#right-nav #right-nav-list1 li:nth-of-type(3){
    position: relative;
   /*left: 0;
   top: 0; */
   height: 98px;
   width: 35px;
   margin-bottom: 20px;  
}
#right-nav-list1 li:nth-of-type(3) span {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/bar_new.png)no-repeat center;
    background-position: -2px -617px;
}
#right-nav-list1 li:nth-of-type(3) a u{
    display: block;
    padding: 0 8px;
    color:#a6a6a6;
    font-size: 12px;

}
#right-nav-list1 li:nth-of-type(4){
    width: 35px;
    height: 35px;
    margin-bottom:7px;
    position: relative;
}
#right-nav-list1 li:nth-of-type(4) a{
  background: url(../img/bar_new.png)no-repeat center;
  background-position: 0 -305px;  
}
#right-nav-list1 li:nth-of-type(4) div{
    position: absolute;
    left: -330px;
    top: 0;
    min-height: 130px;
    line-height: 130px;
    text-align: center;
    width: 326px;
    color: #444444;
    display: none;
}
#right-nav-list1 li:nth-of-type(5){
    width: 35px;
    height: 35px;
    margin-bottom:7px;
    position: relative;
}
#right-nav-list1 li:nth-of-type(5) a{
    background: url(../img/bar_new.png)no-repeat center;
    background-position: -1px -693px;  
  }
  #right-nav-list1 li:nth-of-type(5) div{
      position: absolute;
      left: -433px;
      top: -200px;
      min-height: 313px;
      /* line-height: 313; */
      text-align: center;
      width: 433px;
      color: #444444;
      display: none;
  }
  #right-nav-list1 li:nth-of-type(6){
    width: 35px;
    height: 35px;
    margin-bottom:10px;
    position: relative;
}
#right-nav-list1 li:nth-of-type(6) a{
    background: url(../img/bar_new.png)no-repeat center;
    background-position: 0 -410px; 
  }
  #right-nav-list1 li:nth-of-type(6) div{
      position: absolute;
      left: -165px;
      top: -180px;
      min-height: 213px;
      /* line-height: 313; */
      text-align: center;
      width: 165px;
      color: #444444;
      /* display: block; */
      box-shadow: none;
      border: none;
  }
  #right-nav-list1 li:nth-of-type(6) div img{
      display: block;
      border-radius: 5px;
  }
  #right-nav-list1 li:nth-of-type(7){
    width: 35px;
    height: 35px;
    margin-bottom:7px;
    position: relative;
}
#right-nav-list1 li:nth-of-type(7) a{
    background: url(../img/bar_new.png)no-repeat center;
    background-position: 0 -720px; 
  }
  #right-nav-list1 li:nth-of-type(7) div{
      position: absolute;
      left: -188px;
      top: -195px;
      min-height: 228px;
      /* line-height: 313; */
      padding: 16px 15px 16px 19px;
      text-align: center;
      width: 188px;
      color: #444444;
      /* display: block; */
      box-shadow: none;
      box-sizing: border-box;
  }
  #right-nav-list1 li:nth-of-type(7) div img{
      display: block;
      margin-bottom: 12px;
  }
  #right-nav-list1 li:nth-of-type(7) em{
      display: block;
      font-size: 11px;
      width: 155px;
      text-align: center;
      margin: 0 auto;
  }
  #right-nav-list1 li:nth-of-type(8){
    width: 35px;
    height: 35px;
    margin-bottom:7px;
    position: relative;
}
#right-nav-list1 li:nth-of-type(8) a{
    background: url(../img/bar_new.png)no-repeat center;
    background-position: 0 -753px; 
  }
  #right-nav-list1 li:nth-of-type(8) div{
      position: absolute;
      left: -200px;
      top: -95px;
      min-height: 129px;
      /* line-height: 313; */
      padding: 25px 38px 25px;
      text-align: center;
      width: 200px;
      color: #444444;
      /* display: block; */
      box-shadow: none;
      box-sizing: border-box;
  }
  #right-nav-list1 li:nth-of-type(8) div img{
      display: block;
      margin-bottom:6px;
      margin-left: 35px;
  }
  #right-nav-list1 li:nth-of-type(8) .login2{
      display: block;
      /* width: 20px; */
      margin: 0 auto;
      color: #e84f47;
      font-size: 16px;
      text-decoration: underline;
      background: none;
  }
  #right-nav-list1 li:nth-of-type(8) em{
      display: block;
      font-size: 11px;
      height: 12px;
      line-height: 12px;
      text-align: center;
      margin: 5px auto 0;
  }
  #right-nav-list2 li{
    width: 35px;
    height: 35px;
    /* margin-bottom:7px; */
    position: relative;
}
#right-nav-list2 li a{
    background: url(../img/bar_new.png)no-repeat center;
    background-position: 0 -521px; 
  }
  #right-nav #right-nav-list2 li div{
      position: absolute;
      left: -115px;
      /* top: -495px; */
      bottom: 0;
      min-height: 30px;
      line-height: 30px;
      color: #fff;
      text-align: center;
      width: 100px;
      background: #f28318;
      display: block;
      box-shadow: none;
      transition: 0.8s;
      opacity: 0;
 }
  #right-nav-list1 li:hover div{
    display: block;
}
 #right-nav #right-nav-list2 li:hover div{
     transform: translateX(15px);
    opacity: 1;
 }
 
#right-nav li:hover {
    background-color: rgb(95, 95, 95);
}
/* 在线客服 */
#right-nav-list3{
    position: fixed;
    bottom: 0;
    right: 35px;
    width: 115px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f97070;
    font-size:13px;
    border-radius: 5px 5px 0 0;
    z-index: 999;
    overflow: hidden;
}
#right-nav-list3 a{
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    background: url(../img/6.png) no-repeat left center;
    background-size: contain;
}

